* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;

  background-image: radial-gradient(
    circle,
    rgba(31, 55, 86, 1) 0%,
    rgba(20, 21, 57, 1) 100%
  );
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.container {
  width: 100%;
  padding: 30px;
  max-width: 1200px;
}

.top-side {
  border: 3px solid hsl(217, 16%, 45%);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 8px 8px 8px 20px;
  margin-bottom: 100px;
}

.title p {
  font-size: 18px;
  color: #fff;
  line-height: 15px;
  text-transform: uppercase;
}

.score-box {
  width: 65px;
  height: 65px;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.score-text {
  font-size: 8px;
  color: hsl(229, 64%, 46%);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.score {
  font-size: 30px;
  color: hsl(229, 25%, 31%);
  line-height: 30px;
  font-weight: bold;
}

.bottom-side {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  position: relative;
  margin-bottom: 100px;
}

.fight-box {
  margin-bottom: 50px;
}

.bottom-side div {
  width: 115px;
  height: 115px;
  border-radius: 50%;
  background-color: rgb(220, 86, 86);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: inset 0px -7px 0px -1px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: all 1s;
}

.bottom-side div:hover {
  box-shadow: 0 0 100px rgba(255, 255, 255, 0.4);
}

.bottom-side div img {
  color: hsl(229, 25%, 31%);
  z-index: 1;
}
.bottom-side div::after {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #fff;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: inset 0px 7px 0px -1px rgba(0, 0, 0, 0.2);
}
.bottom-side div.paper,
.fight-box div.paper {
  background-color: rgb(67, 134, 202);
}
.bottom-side div.rock,
.fight-box div.rock {
  background-color: rgb(226, 183, 55);
}

.fight-box div.scissors {
  background-color: rgb(220, 86, 86);
}

.pap {
  background-color: rgb(67, 134, 202) !important;
}
.rk {
  background-color: rgb(226, 183, 55) !important;
}
.sci {
  background-color: rgb(220, 86, 86) !important;
}
.computer {
  background-color: #e571af !important;
}

.triangle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  z-index: -1;
}

.rules-box {
  width: 100%;
  display: flex;
  justify-content: center;
}

.rules {
  width: 120px;
  height: 40px;
  background: none;
  border: 3px solid hsl(217, 16%, 45%);
  border-radius: 7px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.rules::after {
  content: "";
  position: absolute;
  height: 200px;
  left: -25px;
  top: -100px;
  width: 20px;
  background-color: hsl(217, 16%, 45%);
  transition: all 0.7s;
  z-index: 0;
  transform: rotate(35deg);
}
.rules::before {
  content: "Rules";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.rules:hover::after {
  width: 150%;
}

.rules-container {
  background-color: #fff;
  width: 100%;
  height: 120%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  transition: all 0.5s;
}

.rules-container h2 {
  color: hsl(229, 25%, 31%);
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.fight div {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.fight {
  display: flex;
  gap: 30px;
}

.fight-box .fight div div {
  width: 115px;
  height: 115px;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fight-box .fight div div::after {
  content: "";
  position: absolute;
  width: 90px;
  height: 90px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -1;
  box-shadow: inset 0px 7px 0px -1px rgba(0, 0, 0, 0.2);
}

.fight-text {
  max-width: 100px;
  min-height: 40px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

.result-box {
  width: 70%;
  margin: 0 auto;
}

.result {
  font-size: 43px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  text-align: center;
  margin-top: 50px;
  white-space: nowrap;
  margin-bottom: 20px;
}

.play-again {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-color: #fff;
  color: hsl(229, 25%, 31%);
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  cursor: pointer;
}

.count {
  font-size: 120px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: none;
}

.bottom-side div img {
  pointer-events: none;
}

.close {
  padding: 20px;
  cursor: pointer;
}

.hide {
  opacity: 0;
  visibility: hidden;
}

.none {
  display: none;
}

/* Media */

@media (350px <= width) {
  .bottom-side div {
    width: 130px;
    height: 130px;
  }
  .bottom-side div::after {
    width: 100px;
    height: 100px;
  }
}

@media (500px <= width) {
  .bottom-side {
    margin: 0 auto 100px;
    width: 400px;
  }
}

@media (576px < width) {
  .top-side {
    height: 100px;
  }
  .title p {
    font-size: 25px;
    line-height: 20px;
  }

  .score-box {
    width: 80px;
    height: 80px;
  }

  .score-text {
    font-size: 10px;
  }
  .score {
    font-size: 40px;
    line-height: 36px;
  }

  .container {
    max-width: 700px;
  }

  .bottom-side div {
    width: 160px;
    height: 160px;
  }
  .bottom-side div::after {
    width: 120px;
    height: 120px;
  }
  .result {
    font-size: 55px;
  }
}

@media (700px <= width) {
  .fight-box .fight div div {
    width: 200px;
    height: 200px;
  }
  .fight-box .fight div div::after {
    width: 150px;
    height: 150px;
  }

  .fight-box .fight div div img {
    width: 70px;
  }
}

@media (992px <= width) {
  .container {
    max-width: 1200px;
    padding: 50px;
  }
  .top-side {
    height: 150px;
    border-radius: 10px;
    padding: 40px 15px 40px 40px;
  }
  .title p {
    font-size: 35px;
    line-height: 30px;
  }

  .score-box {
    width: 200px;
    height: 110px;
  }

  .score-text {
    font-size: 15px;
  }
  .score {
    font-size: 70px;
    line-height: 70px;
  }

  .bottom-side div {
    width: 200px;
    height: 200px;
  }
  .bottom-side div::after {
    width: 140px;
    height: 140px;
  }

  .bottom-side {
    width: 500px;
    gap: 60px;
  }
  .rules {
    width: 150px;
    height: 60px;
    font-size: 18px;
  }

  .rules-container {
    width: 700px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
  }

  .overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 5;
    transition: all 0.5s;
  }

  .fight {
    max-width: 700px;
    margin: 0 auto;
  }

  .result-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .play-again {
    width: 40%;
  }
}

@media (1400px <= width) {
  .bottom-side div {
    width: 250px;
    height: 250px;
  }

  .bottom-side div::after {
    width: 180px;
    height: 180px;
  }
  .bottom-side div img {
    width: 70px;
  }
  .bottom-side {
    width: 700px;
  }
  .bottom-side {
    margin-bottom: 50px;
  }

  .rules-box {
    justify-content: flex-end;
  }

  .container {
    padding-top: 20px;
  }
  .triangle {
    width: 400px;
  }
}
